@font-face {
    font-family: 'Matura';
    src: url('../fonts/MATURASC.TTF');
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../fonts/MontserratAlternates-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../fonts/MontserratAlternates-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Magra';
    src: url('../fonts/Magra-Bold.ttf');
    font-weight: bold;
}